.Rproj.user
.Rhistory
.RData
.Ruserdata
SOEP_model_with_densReg.R
data_prep.R
densreg_script.R
income_share_data.rds
run_examples.R
try_new_preprocess.R
try_value_script.R
run_examples_clr.R
run_examples_data2counts.R
run_examples_densreg.R
run_examples_md_smooth.R
run_examples_md_predict.R
run_examples_plot_dens_obj.R
run_examples_preprocess.R
unfinished/R
unfinished/tests
unfinished/CondDensReg_0.1.0.*
unfinished/DESCRIPTION
